<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
    <title>Rules Engine Manager System</title>
    <link href="{{ url_for('filetree.static', filename='css/jqueryFileTree.css') }}" rel="stylesheet"></link>
    <script src="{{ url_for('filetree.static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('filetree.static', filename='js/jqueryFileTree.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('filetree.static', filename='css/skeleton.min.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('filetree.static', filename='css/jqft-test.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('filetree.static', filename='css/atelier-cave.light.min.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('filetree.static', filename='css/prettify.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('filetree.static', filename='css/codemirror.css') }}"></link>
<!--    <link rel="stylesheet" href="{{ url_for('filetree.static', filename='css/styles/default.css') }}"></link> -->   
    <script src="{{ url_for('filetree.static', filename='js/highlight.min.js') }}"></script>
    <script src="{{ url_for('filetree.static', filename='js/run_prettify.js') }}"></script>
    <script src="{{ url_for('filetree.static', filename='js/codemirror.js') }}"></script>
    <script src="{{ url_for('filetree.static', filename='js/javascript.js') }}"></script>

    <style>
    </style>
    <script>
        // CodeMirror.fromTextArea($("#content"));
        var editor;
        var filepath;
        function setfilepath(file){filepath=file};
        gPath = "";
        function MyFileTree() {
            $("#filetree").fileTree({
            root: "/Users/tiddy/Documents/git/Taiji/flask_filetree/rule",
            script: "{{ url_for('filetree.sfiles') }}"
            }, function(file) {
                //alert(file);
                // $.post("{{ url_for('filetree.getpath') }}", 
                //     {
                //         'filename' : file
                //     }, 
                //     function(data, status){
                //         $(".editor").text("Editing file " + data);
                //         gPath = data;
                //     });
                
                $.post("{{ url_for('filetree.loadfile') }}", 
                    {
                        'filename' : file
                    }, 
                    function(data, status){
                        $("#content").text(data);
                        editor.getDoc().setValue(data);
                        editor.refresh();
                    });
                setfilepath(file); 
                });
                
            }

        function initAll(){
            myTextarea = document.getElementById("content");
            editor = CodeMirror.fromTextArea(myTextarea);
            MyFileTree();
        }
        $(document).ready(initAll);

        function addfile()
        {
          if(!filepath){
            alert("No path selected"); 
            return
            }
          var filename=prompt("filename","newfile.js")

          if (filename!=null && filename!="")
            {
                window.location.href="/filetree/newfile?filepath="+filepath+"&&filename="+filename
            }
        
        }

        function addfolder() 
        {
          if(!filepath){
            alert("No path selected"); 
            return
            }
          var filename=prompt("foldername","newfolder")

          if (filename!=null && filename!="")
            {
                window.location.href="/filetree/newfolder?filepath="+filepath+"&&filename="+filename
            }

        }


        function deletefile(filepath){
            if(!filepath)
                alert("no path")
            else 
                window.location.href="/filetree/deletefile?path="+filepath
        };

        function saveFile () {
            text = editor.getDoc().getValue();
            $.post("{{ url_for('filetree.savefile') }}", 
                    {
                        'filename' : filepath,
                        'content' : text
                    }, 
                    function(data, status){
                        alert(data);
                    });
        }

        $(function() {
            $("#filetree").fileTree({
                root: "/Users/tiddy/Documents/git/Taiji/flask_filetree/rule",
                script: "{{ url_for('filetree.sfiles') }}",
                folderEvent: "click"
            }, function(file) { setfilepath(file)});
        });
    </script>

<style type="text/css">
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
}



</style>


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1 class="title"><b>Welcome to Rules Engine Manager System!</b></h1>
            </div>
        </div>

        <div class="row">
            <div class="six columns offset-by-two">
                <h4>Quick start and easy use</h4>
                <p>These are some pretty straightforward examples of what you can do with Rules Engine Manager System</p>
            </div>
            <div class="four columns">
                <ul>
                    <li><a href="#basic-file-tree">Basic File Tree</a></li>
                    <li><a href="#without-multifolder">Without <b>multiFolder</b></a></li>
                    <li><a href="#folders-only">Folders Only</a></li>
                </ul>
            </div>
        </div>

        <!-- BASIC FILE TREE -->
        <div class="row" id="basic-file-tree">
            <div class="four columns offset-by-one filetree-block">
                <div class="filetree-title">File in local machine:</div>
                <div class="filetree-basic">
                    <div id="filetree">
                    </div>
                </div>
                <div class="filetree-multiFolder-off"></div>
            </div>
            <div class="seven columns info-block">
                <div>
                    <button onclick="addfile()" class="button orange">New file</button>
                    <button onclick="addfolder()" class="button orange">New folder</button>
                    <button onclick="saveFile()" class="button orange">Save</button>
                    <button onclick="deletefile(filepath)" class="button orange">delete</button>
                </div>

                    <div>
                        <h4>Basic File Tree</h4>
                    </div>
            <div style="width: 80%; height:80%">
                    <pre>
                        <textarea class="javascript hljs" id="content" style="height:247px;width:534px">
Please click the file you want...
                        </textarea>
                    </pre>
            </div>
                </div>
            </div>
        </div>
    <script type="text/javascript">
 //   function settextarea()
 //   {
 //       document.getElemengtById("highlight").get
 //   }
// var myCodeMirror = CodeMirror.fromTextArea(content);
</script>
</div>
</body>
</html>
